{{ template "_layout.html.tmpl" . }}

{{ define "title" }}Account Page{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>Account Information</h1>
        <div class="account-info">
          <div class="row">
            <div class="column column-33">
              <strong>Email:</strong>
            </div>
            <div class="column">
              <span>{{ .User.Email }}</span>
            </div>
          </div>
          <div class="row">
            <div class="column column-33">
              <strong>User ID:</strong>
            </div>
            <div class="column">
              <span>{{ .User.UUID }}</span>
            </div>
          </div>
          <div class="row">
            <div class="column column-33">
              <strong># Sessions</strong>
            </div>
            <div class="column">
              <span>{{ .NumSessions }}</span>
            </div>
          </div>
        </div>

        <div class="button-container">
          <form action="/account/logout" method="POST">
            <button type="submit" class="button">Log Out</button>
            {{ .csrfField }}
          </form>
          <form action="/account/logout-other-sessions" method="POST">
            <button type="submit" class="button button-outline">Log Out Other Sessions</button>
            {{ .csrfField }}
          </form>

          <a href="/account/webauthn" class="button button-outline">WebAuthn</a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
