<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homeauth</title>
  <link rel="stylesheet" href="/css/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="navbar">
    <h3><a href="/">homeauth</a></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>homeauth</h1>

        <p>
          homeauth is a simple OIDC identity provider designed for use in the
          homelab (or other small-scale deployments). You can use it to sign in
          to other applications.
        </p>

        <ul>
          <li><a href="/login">Sign In</a></li>
          <li><a href="/account">Your Account</a></li>
          <li><a href="https://github.com/andrew-d/homeauth">GitHub Repository</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>

