<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <style>
    .login-form {
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }
    .login-form fieldset {
      padding: 0;
      margin: 0;
    }

    /* Remove bottom padding for the last child of the fieldset */
    /* TODO: doesn't work for multiple buttons */
    .login-form fieldset > :last-child {
      margin-bottom: 0;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .button-container form {
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <h3><a href="/">homeauth</a></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>Login</h1>
        <div class="login-form">
          <form id="login" action="/login?next={{.Next}}" method="POST">
            <fieldset>
              <label for="username">Username</label>
              <input type="text" name="username" placeholder="Enter your username">
              
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="Enter your password">

              <input type="hidden" name="webauthn_response" id="webauthn-response" value="">
            </fieldset>
          </form>
        </div>

        <div class="button-container">
          <button type="submit" class="button" form="login" name="via" value="password">Log In</button>
          <button class="button" id="webauthn">Passkey</button>
          <button type="submit" class="button" form="login" name="via" value="email">Log In Via Email</button>
          <button type="submit" class="button button-outline" form="login" name="via" value="google">Log in with Google</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/webauthn.js"></script>
  <script>
    // Listen to the login button click event
    document.getElementById('webauthn').addEventListener('click', function() {
      if (!window.PublicKeyCredential) {
        alert("Error: this browser does not support WebAuthn");
        return;
      }

      // Get the entered username (email address).
      const username = document.querySelector('input[name="username"]').value;

      window.homeauth.doLogin(username).then((cred) => {
        // Update the form field with the credential response and submit it.
        document.getElementById('webauthn-response').value = JSON.stringify(cred);

        // We need a 'via' field to tell the server that this is a WebAuthn
        // login. Create an element named that and append it to the form before submitting.
        const via = document.createElement('input');
        via.type = 'hidden';
        via.name = 'via';
        via.value = 'webauthn';
        document.getElementById('login').appendChild(via);

        document.getElementById('login').submit();
      }).catch((err) => {
        alert("Error: " + err);
      });
    });
  </script>
</body>
</html>
