<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="navbar">
    <h3><a href="/">homeauth</a></h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>Login via Email</h1>
        <p>
          We've sent you a link via email. Click it to sign in.
        </p>
      </div>
    </div>
  </div>

</body>
</html>
