{{ template "_layout.html.tmpl" . }}

{{ define "title" }}Webauthn Page{{ end }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="column column-50 column-offset-25">
        <h1>WebAuthn Information</h1>
        <div class="webauthn-info">
          <div class="row">
            <div class="column column-33">
              <strong>Email:</strong>
            </div>
            <div class="column">
              <span>{{ .User.Email }}</span>
            </div>
          </div>
        </div>

        <div class="webauthn-info">
          <div class="row">
            <div class="column">
              <strong>ID</strong>
            </div>
            <div class="column">
              <strong>Name</strong>
            </div>
          </div>
          <!-- Iterate over every webauthn credential and show the user -->
          {{ range .Credentials }}
          <div class="row">
            <div class="column">
              <span>{{ .ID | printf "%x" }}</span>
            </div>
            <div class="column">
              <span>
                {{ with .FriendlyName }}
                  {{ . }}
                {{ else }}
                  <i>(no name)</i>
                {{ end }}
              </span>
            </div>
          </div>
          {{ end }}
        </div>

        <div class="register-form">
          <form id="register-form">
            <fieldset>
              <h4>Register New WebAuthn Credential</h4>
              <input type="hidden" name="gorilla.csrf.Token" value="{{ .CSRFToken }}">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" required placeholder="Friendly name (e.g. Yubikey 5C, etc.)">

              <button type="submit" class="button" id="register">Register</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/webauthn.js"></script>
  <script>
    // Listen to the register button click event
    document.getElementById('register').addEventListener('click', function(event) {
      event.preventDefault();

      if (!window.PublicKeyCredential) {
        alert("Error: this browser does not support WebAuthn");
        return;
      }

      const form = document.getElementById('register-form');
      const name = form.querySelector('input[name="name"]').value;
      if (!name) {
        alert("Error: credential name is required");
        return;
      }

      window.homeauth.doRegister(name).then((credential) => {
        // TODO: something smarter
        window.location.reload();
      }).catch((err) => {
        alert("Error: " + err);
      });
    });
  </script>
{{ end }}
